*{margin: 0; padding: 0;}

body{ font-size: 14px; line-height: 30px;}

.boxOut{ width: 70%; height: 500px; border: #ccc 1px solid; margin: 10px auto; padding: 10px;}

.boxIn{ width: 40%; height: 200px; border: #aaa 1px solid; padding: 10px; margin: 10px;}

.row1,.row2,.row3{ width: 800px; margin: 20px auto; border: #ddd 1px solid; padding: 10px;}











