<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css"/>
	</head>
	<body>
		<div class="row0" ng-app="myApp">
			<nav class="navbar navbar-default">
				<form class="navbar-form navbar-left" role="search">
			        <div class="form-group">
			          <lable>搜索：</lable><input type="text" class="form-control" placeholder="Search" ng-model="search.id">
			        </div>
			        <!--<button type="submit" class="btn btn-default">Submit</button>-->
			     </form>
		    </nav> 
			<table class="table table-hover" ng-controller="productController">
			 	<tr>
		 		<th ng-click="changOrder('id')" ng-class="{dropup:order ===''}">ID
		 			<span class="caret" ng-class="{caretCur:orderType ==='id'}"></span></th>
		 		<th ng-click="changOrder('name')" ng-class="{dropup:order ===''}">商品名称
		 			<span class="caret" ng-class="{caretCur:orderType ==='name'}"></span></th>
		 		<th ng-click="changOrder('price')" ng-class="{dropup:order ===''}">单价
		 			<span class="caret" ng-class="{caretCur:orderType ==='price'}"></span></th>
			 	<th>操作</th>
			 	</tr>
			 	<!--循环数据-->
			 	<tr ng-repeat="product in productData | filter:search |orderBy:order + orderType">
			 	<!--<tr ng-repeat="product in productData | filter:{id:search}">-->
			 		<td>{{product.id}}</td>
			 		<td>{{product.name}}</td>
			 		<td>{{product.price |currency:"￥"}}</td>
			 		<td><button type="button" class="btn btn-danger">删除</button></td>
			 	</tr>
			 	<!--循环数据 end-->
		</table>
	  </div>
	  
	  <script src="../js/angular.min.js" type="text/javascript" charset="utf-8"></script>
	  <script src="js/productController.js" type="text/javascript" charset="utf-8"></script>
	  
	</body>
</html>
