<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>数据绑定</title>
<!-- 

》》MVC框架：模型(model)－视图(view)－控制器(controller)

	1>.Model（模型）表示应用程序核心（比如数据库记录列表）。
	2>.View（视图）显示数据（数据库记录）====================HTML。
	3>.Controller（控制器）处理输入（写入数据库记录）=========JS。

》》知识点：
	1.ng-bind绑定数据
	2.ng-bind的有点：当页面没有加载完成之前，是不会显示错误。可以解决html加载时间的问题。
	注意：在第一个页面最好使用ng-bind来加载变量表达式





 -->
</head>
<body ng-app>  <!-- 规定angular所管理的区域，写在body上标明要管理整个页面 -->
	
<div class="content" ng-controller="firstController">
	<input type="text" ng-model="name"><br>
	<input type="text" ng-model="age">
	<p>姓名：{{name}}</p><br>
	<p>年龄：{{age}}</p>

	<h3 ng-bind="name"></h3>
	
</div>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>