<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>控制器</title>
<!-- 

》》MVC框架：模型(model)－视图(view)－控制器(controller)

	1>.Model（模型）表示应用程序核心（比如数据库记录列表）。
	2>.View（视图）显示数据（数据库记录）====================HTML。
	3>.Controller（控制器）处理输入（写入数据库记录）=========JS。

》》知识点：
	1.控制器通常指js代码段。
	2.绑定控制器的方法：ng-controller方法绑定




 -->
</head>
<body ng-app>  <!-- 规定angular所管理的区域，写在body上标明要管理整个页面 -->
	
<div class="content" ng-controller="firstController">
	<input type="text" ng-model="name"><br>
	<input type="text" ng-model="age">
	<p>姓名：{{name}}</p><br>
	<p>年龄：{{age}}</p>


	
</div>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>