<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>$apply方法</title>
<link rel="stylesheet" type="text/css" href="css/index.css">

</head>
<body ng-app="myApp"> 

	<div class="content" ng-controller="firstController">
		<input type="text" ng-model="name"><br>
		<input type="text" ng-model="age">
		<p>姓名：{{name}}</p>
		<p>年龄：{{age}}</p>

	</div>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>